In [27]:
import pandas as pd
import numpy as np

%matplotlib inline
from scipy.misc import imread, imresize
import matplotlib.pyplot as plt
import matplotlib.image as mpimg
import seaborn as sns

def cleanup_df(df):    
    surplus = [i for i in df.columns if 'Unnamed' in i]
    df = df.drop(surplus,axis=1)
    return df

In [11]:
# read in original
x = pd.read_csv('./logistic_timeseries_neural_vgg.csv')
x = cleanup_df(x)

# read in modified
version = '4way'
tag = 'raw'
y = pd.read_csv('./logistic_timeseries_drawing_neural_{}_{}.csv'.format(version,tag))
y = cleanup_df(y)

In [12]:
print x.shape, y.shape

(285200, 11) (285200, 15)

In [13]:
x.head()

,TR_num,bed_prob,bench_prob,chair_prob,label,roi,run_num,subj,table_prob,time_point,trial_num
0,10,0.785917,0.013764,0.010464,bed,V1,1,110171,0.189855,1,0
1,11,0.943448,0.012615,0.012706,bed,V1,1,110171,0.031231,2,0
2,12,0.223766,0.118172,0.020711,bed,V1,1,110171,0.637351,3,0
3,13,0.018425,0.429318,0.000032,bed,V1,1,110171,0.552225,4,0
4,14,0.399308,0.000777,0.054215,bed,V1,1,110171,0.545701,5,0

In [14]:
y.head()

,TR_num,bed_prob,bench_prob,c1_prob,c2_prob,chair_prob,label,roi,run_num,subj,t1_prob,t2_prob,table_prob,time_point,trial_num
0,10,0.785915,0.013766,0.010464,0.189855,0.010464,bed,V1,1,110171,0.785915,0.013766,0.189855,1,0
1,11,0.943442,0.012621,0.012706,0.031231,0.012706,bed,V1,1,110171,0.943442,0.012621,0.031231,2,0
2,12,0.223747,0.118222,0.020710,0.637321,0.020710,bed,V1,1,110171,0.223747,0.118222,0.637321,3,0
3,13,0.018421,0.429356,0.000032,0.552191,0.000032,bed,V1,1,110171,0.018421,0.429356,0.552191,4,0
4,14,0.399306,0.000777,0.054215,0.545702,0.054215,bed,V1,1,110171,0.399306,0.000777,0.545702,5,0

In [28]:
z = zip(x.bed_prob.values, y.bed_prob.values)
nonmatches = [(i,j) for (i,j) in z if (np.abs(i-j)>1e-3)]
print len(nonmatches)

45

In [30]:
z = zip(x.bench_prob.values, y.bench_prob.values)
nonmatches = [(i,j) for (i,j) in z if (np.abs(i-j)>1e-3)]
print len(nonmatches)

68

In [32]:
z = zip(x.chair_prob.values, y.chair_prob.values)
nonmatches = [(i,j) for (i,j) in z if (np.abs(i-j)>1e-3)]
print len(nonmatches)

51

In [31]:
z = zip(x.table_prob.values, y.table_prob.values)
nonmatches = [(i,j) for (i,j) in z if (np.abs(i-j)>1e-3)]
print len(nonmatches)

34